h1 {
    font-family: 'Hammersmith One' serif;
    font-style: italic;
}

h3 {
    font-family: 'Hammersmith One' serif;
    font-size: 20px;
}

.row {
    font-size: 18px;
}

body {
    background-image: url('../images/Background.png');
    color: antiquewhite;
    text-align: center;
    font-family: 'Hammersmith One', sans-serif;
    background-size: cover; 
    background-position: center center; 
    background-repeat: no-repeat; 
    background-attachment: fixed;
}

button:hover {
    background-color: antiquewhite;
    color:rgb(9, 104, 57)
}

button {
    margin-bottom: 70px;
    width: 70px;
    height: 40px;
    border-radius: 10px;
    border: none;
    font-family: 'Hammersmith One' sans-serif;
    background-color: rgb(224, 232, 228);
    color: rgb(10, 7, 7);
    margin: 20px 0 0 20px;
    display: block;
}

#courseList {
    list-style-type: none;
    padding-left: 0;
    margin: 0 auto;
    display: table;
}

.nextButton {
    position: fixed;
    bottom: 30px;
    right: 30px;
    margin: 0;
    width: 100px;
    height: 50px;
    border-radius: 10px;
    border: none;
    font-family: 'Hammersmith One', sans-serif;
    background-color: white;
    color: black;
    z-index: 1000;
}

#totalFee span {
    display: inline-block;
    margin-right: 20px;
    font-weight: bold;
}
